main {
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.top-text-main {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.top-nav-right {
  display: flex;
}

.popular {
  border-right: 1px solid #6f6f6f;
  font-size: 11px;
  padding-right: 5px;
  color: black;
}

.newest {
  font-size: 11px;
  color: black;
  margin-left: 5px;
}

.left-section {
  width: 66%;
  margin-top: 24px;
}
Get every feature Twitter offers. .right-section {
  margin-top: 24px;
  width: 29%;
}

.card1 {
  width: 290px;
  height: 132px;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
}

.img-container-1,
.img-container-2 {
  display: flex;
  justify-content: space-evenly;
}

.pro-img {
  width: 38px;
  border-radius: 50%;
  margin: 5px;
}

.gray-line {
  border-bottom: 1px solid #e8e8e8;
  margin: 10px;
}

.join-them {
  color: rgba(204, 77, 41, 1);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.card2 {
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  width: 320px;
}

.the-future {
  text-align: left;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding-top: 3px;
}

.card3 {
  width: 296px;
  height: 336px;
  border-radius: 4px;
  background-color: #fff;
  padding: 12px;
}

.card4 {
  width: 290px;
  height: 110px;
  padding: 15px;
  border-radius: 4px;
  background-color: #fff;
}

.news-img {
  height: 110px;
  width: 280px;
  margin: 0 auto;
}

.nws-img-container {
  border: 1px solid #e8e8e8;
  margin: 10px;
}

.nwl-txt {
  text-align: center;
}
.get-thebest {
  margin: 10px 20px;
}

.subscribe-input {
  width: 290px;
  height: 34px;
  display: block;
  margin: 0 auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.sub-btn-margin {
  height: 1px;
  width: 1px;
  margin: 5px;
}

.subscribe-btn {
  font-weight: 600;
  font-size: 11px;
  margin-right: 5px;
  color: white;
  width: 270px;
  height: 14px;
  border: 10px solid rgba(204, 77, 41, 1);
  border-radius: 4px;
  background-color: rgba(204, 77, 41, 1);
  display: block;
  margin: 0 auto;
  text-align: center;
  align-items: baseline;
}

.notion {
  color: #6f6f6f;
  margin: 0 auto;
}

.job-description {
  font-size: 12px;
}

.jobs-con {
  display: flex;
  justify-content: space-evenly;
}

.view-all-jobs {
  font-size: 14px;
  font-weight: 600;
  color: #6f6f6f;
  cursor: pointer;
  padding: 10px 0px;
  text-transform: uppercase;
  text-align: center;
}

.post-a-job {
  font-size: 14px;
  font-weight: 600;
  color: rgba(204, 77, 41, 1);
  cursor: pointer;
  padding: 10px 0px;
  text-transform: uppercase;
  text-align: center;
}

.notion-container {
  display: flex;
  justify-content: space-evenly;
}

.main-cards {
  background-color: #fff;
  height: 111px;
}

.upv-s,
.upv {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.img {
  height: 80px;
  width: 80px;
}

.cat {
  width: 85px;
  height: 60px;
}

.the-future-parent {
  padding: 15px;
}

.floating-chat {
  position: absolute;
  bottom: 0;
  right: 0;
}
